
.link{
    text-decoration: none;
}

.head{
    margin: 2vh;
    width: 18rem;
    border: 1px solid black;
    border-radius: 2.5vh;
    height: 10rem;
  }

  .Card{
    display: flex;
    flex-direction: row;
  }