.maindiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10%;
}
.internal_div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 10%;
}
ul{
    margin-bottom: 0;
}


li{
    list-style: none;
    width: 2rem;
    border-radius: 1rem;
    background-color: rgb(182, 209, 233);
}
